* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cont-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-row-cont-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0;
}
.col-row-cont-2 > h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn3 {
  background-color: #faeef2;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  transition: transform 0.2s;
}
.btn3:active {
  transform: scale(0.95);
}

.icon3 {
  font-size: 10px;
}

.col2-row-cont-2 {
  background: url("../images/img04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.img05 {
  border-radius: 500px 500px 0 0;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .img05 {
    width: 240px;
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 991px) {
  .col2-row-cont-2 {
    justify-content: center;
    align-items: end;
  }
  .img05 {
    width: 220px;
        margin-bottom: 5px;

  }
}

@media (max-width: 768px) {
  .img05 {
    width: 180px;
  }
}

@media (max-width: 576px) {
  .img05 {
    width: 150px;
  }

  .btn3 {
    font-size: 10px; /* Adjust button size for small screens */
    padding: 8px 16px; /* Adjust padding */
  }

  .col-row-cont-2 > h1 {
    font-size: 1.5em; /* Reduce heading size */
  }

  .col-row-cont-2 > p {
    font-size: 0.9em; /* Reduce paragraph size */
  }
}
