.secondd-nav{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}


.div-search{
    position: relative;
    
}

.Search-icon{
    position: absolute;
    left: 0;
    top: 5px;
}

.input{
    outline: none;
    border: none;
    text-indent: 15px;
    color: black;
    padding: 5px;

}

.input::placeholder{
   text-indent: 15px;
   color: black;
}



.border-bottom-hr {
  border-bottom: 1px solid #242323c7; /* The border color */
  width: calc(100% - 160px); /* Adjust to match the padding of .secondd-nav */
  margin: 20px auto; /* Center it horizontally */
}


.account{
    text-decoration: none;
    margin: 5px;
}

