

.search{
    position: relative;
    
}

.Search-icon{
    position: absolute;
    left: 4px;
    top: -7px;
}

.input{
    outline: none;
    background-color: rgb(247, 230, 230);
    border: none;
    border-radius: 30px;
    text-indent: 15px;
    color: black;
    padding: 5px;

}

.input::placeholder{
   text-indent: 15px;
   color: black;
}



.border-bottom-hr {
  border-bottom: 1px solid #242323c7;
  width: calc(100% - 160px); 
  margin: 20px auto; 
}


.account{
    text-decoration: none;
    margin: 5px;
}

